apex
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz
gensim
networkx==2.4
nltk
numba
numpy
scipy
spacy
tensorboardX
torch==1.4.0
torchtext==0.6.0
tqdm
transformers